---
- name: Install and Configure Splunk
  hosts: splunk_servers
  become: yes
  vars:
    splunk_version: "9.1.2"
    splunk_build: "b6b9c8185839"
    splunk_admin_password: "SplunkAdmin123!"
    splunk_home: "/opt/splunk"
  
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
      
    - name: Install required packages
      apt:
        name:
          - wget
          - curl
          - net-tools
        state: present
    
    - name: Create splunk user
      user:
        name: splunk
        state: present
        shell: /bin/bash
        create_home: yes
    
    - name: Check if Splunk is already downloaded
      stat:
        path: "/tmp/splunk-{{ splunk_version }}-{{ splunk_build }}-Linux-x86_64.tgz"
      register: splunk_package
    
    - name: Download Splunk
      get_url:
        url: "https://download.splunk.com/products/splunk/releases/{{ splunk_version }}/linux/splunk-{{ splunk_version }}-{{ splunk_build }}-Linux-x86_64.tgz"
        dest: "/tmp/splunk-{{ splunk_version }}-{{ splunk_build }}-Linux-x86_64.tgz"
        mode: '0644'
      when: not splunk_package.stat.exists
      timeout: 300
    
    - name: Extract Splunk
      unarchive:
        src: "/tmp/splunk-{{ splunk_version }}-{{ splunk_build }}-Linux-x86_64.tgz"
        dest: /opt/
        remote_src: yes
        creates: "{{ splunk_home }}/bin/splunk"
    
    - name: Set ownership of Splunk directory
      file:
        path: "{{ splunk_home }}"
        owner: splunk
        group: splunk
        recurse: yes
    
    - name: Create user-seed.conf for initial admin password
      copy:
        dest: "{{ splunk_home }}/etc/system/local/user-seed.conf"
        content: |
          [user_info]
          USERNAME = admin
          PASSWORD = {{ splunk_admin_password }}
        owner: splunk
        group: splunk
        mode: '0600'
    
    - name: Start Splunk and accept license
      become_user: splunk
      command: "{{ splunk_home }}/bin/splunk start --accept-license --answer-yes --no-prompt"
      args:
        creates: "{{ splunk_home }}/var/run/splunk/splunkd.pid"
      register: splunk_start
    
    - name: Enable Splunk to start at boot
      command: "{{ splunk_home }}/bin/splunk enable boot-start -user splunk --accept-license --answer-yes --no-prompt"
      args:
        creates: "/etc/init.d/splunk"
      when: splunk_start.changed
    
    - name: Wait for Splunk web interface
      wait_for:
        port: 8000
        delay: 10
        timeout: 60
    
    - name: Display Splunk access information
      debug:
        msg:
          - "Splunk installation completed!"
          - "Access Splunk at: http://{{ ansible_host }}:8000"
          - "Username: admin"
          - "Password: {{ splunk_admin_password }}"
